@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2);
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2);
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: rgb(242, 242, 242);
  margin: 0 auto;
  min-height: 100%;

}



.page-container {
  width: 1200px;
  background-color: rgb(255, 255, 255);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.2));
}

/* ------------HEADER START------------ */

.header-navigation {
  display: flex;
  flex-wrap: wrap;
  min-height: 64px;
}

.header-navigation-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  min-width: 339px;
  max-width: 600px;

}
.header-navigation-item-hotels {
  margin-left:14px;
}
.header-navigation-item{
  min-height: 64px;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.header-navigation-item:hover .navigation-link::after{
  content: "";
  width:100%;
  height: 2px;
  background-color:rgba(117, 98, 87, 1);
  position: absolute;
  top: 42px;
  left: 0;
  outline: none;
  border:none;
}
.navigation-link {
  display: block;
  position: relative;
}

.current-nav-link:focus .current-nav-link::after{
  outline: none;
  border:none;
}
.current-nav-link:focus-visible .current-nav-link::after{
  outline: none;
  border:none;
}
.current-nav-link::after {
  content: "";
  width:100%;
  height: 2px;
  background-color:rgba(117, 98, 87, 1);
  position: absolute;
  top: 42px;
  left: 0;
  outline: none;
  border:none;
}


.header-user-list {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  min-height: 64px;
}

.header-logo-link {
  display: flex;
  margin-right: 44px;
  flex-wrap: wrap;
}

.header-logo-link img{
  margin-bottom: -10px;
  position:relative;
}
.page-header {
  min-height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-left: 70px;
  margin-right: 70px;
  flex-wrap: wrap;
}

.user-link {
  margin-left: 20px;
  padding-left: 34px;
  padding-right: 34px;
  padding-top: 8px;
  padding-bottom: 8px;
  line-height: 20px;
  font-size: 16px;
}

.link {
  color: inherit;
  text-decoration: none;
}

.user-link {
  color: rgb(255, 255, 255);
  background-color: rgb(117, 97, 87);
  text-transform: uppercase;
}

.user-search {
  min-width: 44px;
  min-height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.user-search:hover{
  opacity: 0.5;
}


.user-favorite {
  min-width: 44px;
  min-height: 64px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.user-favorite:hover{
  opacity: 0.5;
}
.favorite-quantity {
  min-width: 20px;
  min-height: 20px;
  border-radius: 50%;
  background-color: rgb(125, 181, 79);
  color: rgb(255, 255, 255);
  font-size: 10px;
  position: absolute;
  margin: auto;
  right: 5px;
  top: 10px;
  line-height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ------------HEADER END------------ */

/* ------------HERO START------------ */
.wrapper{
  background-color: rgb(156, 196, 223);
  background-size: 100%, cover;
  background-image: url(../images/divider.png), url(../images/hero-background.jpg);
  background-repeat: no-repeat;
  background-position: bottom, top;
  min-height: 485px;
  margin-bottom: 68px;
}
.hero {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  flex-wrap: wrap;
}

.hero-img-text {
  display: block;
  margin: 0 auto;
  padding-top: 51px;

}

.hero-heading {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  vertical-align: center;
  margin: 0 auto;
  width: 620px;
  min-height: 72px;
}

/* ------------HERO END------------ */

/* ------------ADVANTAGES START------------ */

.advantages-text {
  color: rgb(51, 51, 51);
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  min-height: 26px;
  margin: 0 ;
  flex-wrap: wrap;
  margin-bottom: 90px;
}

.advantages-item-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 92px 85px 111px 85px;
  position: relative;
  flex-wrap: wrap;
}

.advantages-item {
  min-height: 384px;

}

.advantages-item-text h3 {
  margin: 0;
  width: 175px;
  margin-bottom: 62px;
}

.advantages-item-text p {
  margin: 0;
}

.advantages-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding-inline-start: 0;
  margin-block-end: 0;
}
.advantages-list li{
  display: flex;
  justify-content: center;
  align-items: center;
}
.no-img-item h3::after{
  content: "";
  background-color: rgba(0, 0, 0, 0.3);
  width: 60px;
  height: 2px;
  position:absolute;
  top: 180px;
  left:170px;
}
.img-item  h3::after{
  content: "";
  background-color:  rgba(255, 255, 255, 0.3);
  width: 60px;
  height: 2px;
  position:absolute;
  top: 180px;
  left:170px;
}

.img-item {

  width: 1200px;


}

.no-img-item {
  width: 400px;

}

.advantages-list h3 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.advantages-list p {
  font-size: 18px;
  line-height: 21px;
}

.advantages-item {
  color: rgb(255, 255, 255);
  background-color: rgb(130, 179, 211);
}

.advantages-list li:nth-child(2n) {
  color: rgb(0, 0, 0);
  background-color: rgba(131, 179, 211, 0.12);

}

.advantages-list li:nth-child(3) {
  color: rgb(0, 0, 0);
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages2-list {
  list-style-type: none;
  text-align: center;
  display: flex;
  flex-wrap:wrap;
  margin: 0;
  padding-inline-start: 0;
  margin-bottom: 96px;
}

.advantages2-list h3 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  padding-top: 182px;
  margin: 0;
  margin-bottom: 30px;
}

.advantages2-list p {
  font-size: 18px;
  line-height: 21px;
  padding-bottom: 81px;
  width: 230px;
  padding-left: 85px;
  padding-right: 85px;
  margin: 0;

}

.advantages2-item-houses {
  color: rgb(0, 0, 0);
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
  min-height: 384px;
  background-image: url(../images/advantages-houses-logo.svg);
  background-repeat: no-repeat;
  background-position: bottom 232px right 162px;
}

.advantages2-item-souvenirs {
  color: rgb(0, 0, 0);
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
  min-height: 384px;
  background-image: url(../images/advantages-souvenir-logo.svg);
  background-repeat: no-repeat;
  background-position: bottom 230px right 169px;
}

.advantages2-item-eat {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  width: 400px;
  min-height: 384px;
  background-image: url(../images/food.svg);
  background-repeat: no-repeat;
  background-position: bottom 232px right 162px;
}
/* ------------ADVANTAGES END------------ */

/* ------------SEARCH START------------ */
.search {
  text-align: center;

}

.search h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.search p {
  font-size: 22px;
  line-height: 26px;
  color: rgb(51, 51, 51);
  width: 592px;
  min-height: 52px;
  margin: 0 auto;
  margin-bottom: 54px;
}

.search-button {
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  padding: 0;
  font-family: inherit;
  width: 376px;
  min-height: 52px;
  background-color: rgb(117, 97, 87);
  margin: 0 auto;
  margin-bottom: 96px;
  border-radius: 4px;
  border: none;
}
.search-button:hover{
  cursor: pointer;
}

/* ------------SEARCH END------------ */

/* ------------SUBSCRIBE START------------ */
.subscribe {
  background-color: rgb(117, 97, 87);
  background-image: url(../images/subscribe-background.jpg);
  background-repeat: no-repeat;
  width: 1200px;
  min-height: 415px;
  color: rgb(255, 255, 255);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  background-size: cover;
  flex-wrap: wrap;
}

.subscribe h2 {
  margin: 0;
  font-family: inherit;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 20px;
  margin-top: 96px;
}

.subscribe p {
  text-align: center;
  margin: 0;
  font-size: 22px;
  font-family: inherit;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 54px;
}

.subscribe-catalog {
  background-color: rgb(255, 255, 255);
  background-repeat: no-repeat;
  width: 1200px;
  min-height: 415px;
  color: rgb(0, 0, 0);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-size: cover;
  flex-wrap: wrap;
}

.subscribe-catalog h2 {
  color: rgb(51, 51, 51);
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: inherit;
  line-height: 36px;
  margin-top:96px;
}

.subscribe h2 {
  text-transform: uppercase;
}

.subscribe p {
  width: 475px;
  min-height: 53px;
}

.subscribe-catalog p {
  width: 475px;
  min-height: 53px;
  text-align: center;
  margin: 0;
  margin-bottom: 54px;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;

}

.subscribe-button {
  font-family: inherit;
  background-color: rgb(130, 179, 211);
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  width: 232px;
  min-height: 52px;
  border: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.form-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

.subscribe-input {
  background-color: rgb(242, 242, 242);
  width: 452px;
  min-height: 52px;
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  padding: 14px 0 14px 20px;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  box-sizing: border-box;
  outline: none;
}


/* ------------SUBSCRIBE END------------ */


/* ------------FOOTER START------------ */
.socialnetwork-links {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left:70px;
  flex-wrap: wrap;
  max-width: 200px;
}
.socialnetwork-item{
  display: block;
  width: 47px;
  min-height: 40px;
}
.socialnetwork-item-link {
  color: rgb(0, 0, 0);
  font-family: inherit;
  display: block;
  padding: 12px;
}

.socialnetwork-item-svg:visited{
  fill: rgb(104, 162, 202);
  opacity: 0,8;
}
.socialnetwork-item-link:hover .socialnetwork-item-svg{
  fill: rgb(104, 162, 202);
}

.socialnetwork-item-svg:active{
  fill: rgba(104, 162, 202, 0.3);
}
.socialnetwork-item-svg:focus-visible{
  fill: rgb(104, 162, 202);
}
.footer-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  min-width: 1060px;
  min-height: 50px;
  margin-top:40px;
  margin-bottom:35px;
}

.footer-logo:hover .footer-logo-svg{
  fill:rgb(117, 97, 87);
}
.footer-logo:active .footer-logo-svg{
  fill:rgba(117, 97, 87, 0.3);
}
.footer-logo:focus .footer-logo-svg{
  fill:rgb(117, 97, 87);
}
.footer-logo{
  margin-right: 70px;
}

.phone {
  display: block;
  color: rgb(0, 0, 0);
  min-width: 331px;
  min-height: 40px;
  font-family: inherit;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  text-decoration: none;
}
.phone:visited{
  opacity: 0,9;
}
.phone:hover{
  color:rgb(117, 97, 87);
}
.phone:active{
  color: rgba(117, 97, 87, 0.3);;
}
.phone:focus-visible{
  color:rgb(117, 97, 87);
}

/* ------------FOOTER END------------ */

/* ------------CATALOG FORM START------------ */
.catalog-form {
  flex-wrap: wrap;
  font-family: inherit;
  background-color: rgb(131, 110, 100);
  background-image: url(../images/catalog-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(255, 255, 255);
  min-width: 1200px;
  min-height: 412px;
  background-position: center;
  margin-bottom: 50px;

}

.filter-heading {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.filter-heading h1 {
  margin: 0;
  padding-top: 35px;
  padding-left: 70px;
  padding-bottom: 8px;
}

.breadcrumbs {
  display: flex;
  min-width: 120px;
  min-height: 21px;
  margin-left: 70px;
  margin-bottom: 40px;
  flex-wrap: wrap;
}

.breadcrumbs-list {
  display: flex;
  list-style-type: none;
  align-items: center;
  margin: 0;
  flex-wrap: wrap;
  padding: 0;
}
.breadcrumbs-home-link {
  display: block;
  min-width: 13px;
  min-height: 15px;
  background-image: url(../images/home.png);
  background-repeat: no-repeat;
  background-position: center;
}
.breadcrumbs-home-link:hover{
  opacity: 0.5;
}
.breadcrumbs-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  flex-wrap: wrap;
  padding-right: 28px;
  font-size: 16px;
}
.breadcrumbs-item:first-child::after{
  content: "";
  background-image: url(../images/breadcrumbs-arrow.png);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  width: 7px;
  height: 10px;
  left:23px;
}
.breadcrumbs-item:not(:first-child):not(:last-child)::after{
  content: "";
  background-image: url(../images/breadcrumbs-arrow.png);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  width: 7px;
  height: 10px;
  left: 80px;
}

.breadcrumbs-catalog-link {
  text-decoration: none;
}
.breadcrumbs-catalog-link:hover{
  opacity: 0.5;
}

.form-heading {
  font-family: inherit;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs span {
  color: rgb(255, 255, 255);
}

.housing-type-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.options-group {
  border: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  min-height: 157px;
  margin-right: 70px;
  flex-wrap: wrap;
}
.form-legend{
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  padding: 0;
  margin: 0;
  margin-bottom: 32px;
}
.housing-type-group {
  border: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  min-height: 157px;
  margin-right:152px;
  flex-wrap: wrap;
}

.option-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  min-width: 110px;
  min-height: 101px;
}
.options-item{
  position: relative;
  padding-bottom: 19px;
}
.check-mark{
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
}
.option[type="checkbox"]:focus + .check-mark{
  outline: 2px solid rgb(130, 179, 211);
}
.option-type:checked:focus + .radio-mark{
  outline: 2px solid rgb(130, 179, 211);
 }
.option[type="checkbox"]:checked + .check-mark::before{
  position: absolute;
  background-color: rgb(63, 94, 114);
  content: "";
}
.option[type="checkbox"]:checked + .check-mark::after {
  position: absolute;
  background-color: rgb(63, 94, 114);
  content: "";
}
.option[type="checkbox"]:checked + .check-mark::before {
  transform: rotate(45deg);
  top: 12px;
  left: 2px;
  width: 8px;
  height: 2px;
}

.option[type="checkbox"]:checked + .check-mark::after {
  transform: rotate(-45deg);
  top: 10px;
  left: 6px;
  width: 12px;
  height: 2px;
}
.radio-mark{
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
}
.radio-label{
  padding-left:36px;
}
.radio:hover{
  opacity: 0.5;
}

.radio, .radio-mark{
  border:none;
  outline: none;
}
.option-type[type="radio"]:checked + .radio-mark::after {
  position: absolute;
  content: "";
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color:rgb(63, 94, 114) ;
  border-radius: 50%;
}
.checkmark-label{
  border: none;
  outline: none;
  position:relative;
}
.checkmark-label:hover {
 opacity: 0.5;
}

.checkmark-label:active .check-mark:checked {
background-image: url(../images/check-mark-icon.svg);
background-repeat: no-repeat;
}
.check-label{
  padding-left: 36px;

}

.housing-type-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  min-width: 110px;
  min-height: 101px;

}

.options-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  padding-bottom: 20px;
  margin-left: 70px;
  margin-right:65px;
  align-items: flex-start;
}

.hotels-price {
  border: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  margin-right: 57px;
}
.hotels-price legend{
  margin-bottom:32px;
}
.hotels-price-inputs{
  display: flex;
  margin-bottom: 43px;
  flex-wrap: wrap;
}
.hotels-price-scale{
  position: relative;
  width:287px;
  height: 4px;
  background-color: rgba(0, 0, 0, 0.25);
}
.hotels-price-bar{
  position: absolute;
  height: 4px;
  background-color: rgb(255, 255, 255);
  width: 226px;
  left: 0;
}
.min-input-wrapper{
  margin-right:2px;
}
.input-min-price{
  width: 143px;
  min-height: 48px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border:none;
  box-sizing: border-box;
  margin: 0;
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 700;

}
.input-max-price{
  width: 143px;
  min-height: 48px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border:none;
  box-sizing: border-box;
}


.input-min-price::-webkit-outer-spin-button,
.input-min-price::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }
.input-max-price::-webkit-outer-spin-button,
.input-max-price::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }
  .input-max-price:hover{
    background-color: rgb(230, 230, 230);
  }
  .input-min-price:hover{
    background-color: rgb(230, 230, 230);
  }
  .input-max-price:focus-visible{
    background-color: rgb(230, 230, 230);
    outline: 3px solid rgb(131, 179, 211);
  }
  .input-min-price:focus-visible{
    background-color: rgb(230, 230, 230);
    outline: 3px solid rgb(131, 179, 211);

  }
  .input-max-price:active{
    background-color: rgb(230, 230, 230);
    outline: 2px solid rgb(0, 0, 0);
  }
  .input-min-price:active{
    background-color: rgb(230, 230, 230);
    outline: 2px solid rgb(0, 0, 0);
  }
.min-input-wrapper{
  position: relative;
}
.input-min-price-label{
  position: absolute;
  color: rgb(0, 0, 0);
  opacity: 0,7;
  right:20px;
  top: 12px;
}
.input-max-price-label{
  position: absolute;
  color: rgb(0, 0, 0);
  opacity: 0,7;
  right:20px;
  top: 12px;
}
.max-input-wrapper{
  position: relative;
}
.range-button{
  position:absolute;
  width: 20px;
  min-height: 20px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  border: none;
}
.range-button:hover{
  border: 2px solid rgb(131, 179, 211);
 box-sizing: border-box; ;
}
.range-button:active{
 border: 2px solid rgb(131, 179, 211);
 box-sizing: border-box;
}
.range-button:focus{
  border: 3px solid rgb(131, 179, 211);
  box-sizing: border-box;
}
.min-price-button{
  top: -8px;
  left: 0;
}
.max-price-button{
  top: -8px;
  left: 207px;
}
.form-buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 191px;
  margin-right: 5px;
}

.form-button-submit {
  background-color: rgb(130, 179, 211);
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  border: none;
  min-height: 36px;
  text-transform: uppercase;
  padding: 0;
  margin-top: 56px;
  margin-bottom: 32px;
}

.form-button-reset {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  border: none;
  background-color: transparent;
  min-height: 36px;
  text-transform: uppercase;
  padding: 0;
}
.form-button-reset:hover{
  color:rgba(255, 255, 255, 0.3);
}
.form-button-reset:active{
  color:rgba(255, 255, 255, 0.3);
}

.form-button-reset:focus-visible{
  outline: 3px solid rgb(131, 179, 211);
}
.hotel-details-button {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
}
/* ------------CATALOG FORM END------------ */

/* ------------CATALOG SEARCH RESULT START------------ */
.search-header {
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  align-items: center;
  margin-bottom: 40px;
  padding-left: 70px;
  padding-right: 70px;
  flex-wrap: wrap;
}

.search-header h2 {
  margin: 0;
  text-transform: uppercase;
  font-family: inherit;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  margin-right: 200px;
}


.search-result-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  gap: 20px;
  padding-bottom: 40px;
  border-bottom: 1px solid rgb(230, 230, 230);
  margin-bottom: 38px;
  margin-left: 70px;
  margin-right: 70px;
}
.search-result-list h3{
  font-family: inherit;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}
.search-result-item-wrapper{
  min-width: 340px;
  min-height: 438px;
  outline: 1px solid rgb(230, 230, 230);
  padding: 20px;
  box-sizing: border-box;
  border-radius: 4px;
}
.search-result-item-wrapper img{
  margin-bottom: 12px;
}

.hotels-select{
  min-width: 292px;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  min-height: 49px;
  border: 2px solid rgb(229, 229, 229);
  border-radius: 4px;
  box-sizing: border-box;
  padding-left: 14px;
  padding: 11px 120px 13px 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;

}
.select-wrapper{
  position: relative;
  margin-right: 70px;
}
.select-wrapper::after{
  z-index: 0;
	content: " ";
	position: absolute;
	right: 21px;
  bottom: 20px;
	width: 12px;
	height: 10px;
	background: url(../images/arrow-for-select-svg.svg);
	background-repeat: no-repeat;

}
.hotels-select option{
  padding-left: 20px;
  padding-top: 14px;
  padding-bottom: 14px;
}
.hotels-select:hover{
  border: 2px solid rgb(104, 162, 202);
  border-radius: 4px;
}
.hotels-select:active{
  border: 2px solid rgb(63, 94, 114);
  border-radius: 4px;
}
.hotels-select:focus{
  border: 2px solid rgb(104, 162, 202);
  border-radius: 4px;
}
.hotels-select:focus-visible{
  border: 2px solid rgb(104, 162, 202);
  border-radius: 4px;
}

.hotels-select:disabled{
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.3);;
}
.view-buttons {
  list-style-type: none;
  display: flex;
  margin: 0;
  align-self: center;
  padding: 0;
  border: none;
  outline: none;
  flex-wrap: wrap;
}
.view-buttons-item:not(:last-child){
  margin-right:8px;
}
.view-type:focus-visible{
  border: 2px solid rgb(104, 162, 202);
  border-radius: 4px;
}
.small-window:hover{
  border: 2px solid rgb(0, 0, 0);
  border-radius: 4px;
}
.small-window:active{
  border: 2px solid rgb(0, 0, 0);
  border-radius: 4px;
}
.small-window:focus{
  border: 2px solid rgb(104, 162, 202);
  border-radius: 4px;
}

.small-window:focus-visible{
  border: 2px solid rgb(104, 162, 202);
  border-radius: 4px;
}

.large-window:hover{
  border: 2px solid rgb(0, 0, 0);
  border-radius: 4px;
}
.large-window:active{
  border: 2px solid rgb(0, 0, 0);
  border-radius: 4px;
}
.large-window:focus{
  border: 2px solid rgb(104, 162, 202);
  border-radius: 4px;
}

.large-window:focus-visible{
  border: 2px solid rgb(104, 162, 202);
  border-radius: 4px;
}
.list-window:hover{
  border: 2px solid rgb(0, 0, 0);
  border-radius: 4px;
}
.list-window:active{
  border: 2px solid rgb(0, 0, 0);
  border-radius: 4px;
}
.list-window:focus{
  border: 2px solid rgb(104, 162, 202);
  border-radius: 4px;
}

.list-window:focus-visible{
  border: 2px solid rgb(104, 162, 202);
  border-radius: 4px;
}
.view-type.current {
  border: 2px solid rgb(0, 0, 0);
  border-radius: 4px;
  box-sizing: border-box;
}

.view-type {
  width: 48px;
  min-height: 48px;
  margin:0;
  border: none;
  padding: 0;
  box-sizing: border-box;
}

.small-window {
  background-image: url(../images/small-window.svg);
  background-repeat: no-repeat;
  background-position: center;
  border:2px solid rgb(229, 229, 229);
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
}

.large-window {
  background-image: url(../images/large-window.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(255, 255, 255);
  border:2px solid rgb(229, 229, 229);
  border-radius: 4px;
}

.list-window {
  background-image: url(../images/list-window.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(255, 255, 255);
  border:2px solid rgb(229, 229, 229);
  border-radius: 4px;
}




.products-info-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 15px;
  column-gap: 20px;
}
.products-info-wrapper p{
  margin: 0;
}
.products-info-wrapper h3 {
  grid-column: 1/3;
}

.hotel-name {
  margin: 0;
}

.hotel-details-button {
  display: flex;
  width: 140px;
  min-height: 36px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  justify-content: center;
  align-items: center;
  margin: 0;
  flex-wrap: wrap;
}
.hotel-price{
  justify-self: end;
}
.put-in-favorite {
  display: flex;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  width: 140px;
  min-height: 36px;
  border: none;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.in-favorite {
  display: flex;
  border: none;

  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  width: 140px;
  min-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.four-stars {
  background-image: url(../images/star.png);
  background-position: 20px 10px;
  background-repeat: repeat-x;
  background-size: 20px auto;
  width: 80px;
}

.three-stars {
  box-sizing: border-box;
  background-image: url(../images/star.png);
  background-position: 20px 10px;;
  background-repeat: repeat-x;
  background-size: 20px auto;
  width: 60px;
}

.two-stars {
  background-image: url(../images/star.png);
  background-position: 20px 10px;;
  background-repeat: repeat-x;
  background-size: 20px auto;
  width: 40px;

}

.raiting {
  margin: 0;
  padding: 0;
  font-weight: 400;
  color: rgb(51, 51, 51);
  background-color: rgb(242, 242, 242);
  min-height: 36px;
  text-align: center;
  padding-top: 9px;
  padding-bottom: 8px;
  box-sizing: border-box;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
}
.search-result{
  padding-bottom: 60px;
}
/* ------------CATALOG SEARCH RESULT END------------ */

/* ------------CATALOG PAGINATION START ------------ */
.pagination-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1060px;
  margin-left: 62px;
  margin-right:70px;
}

.pagination-item {

 display:flex;
 flex-wrap: wrap;

}

.pagination-not-current:hover{
  background-color: rgb(104, 162, 202);
  border: 1px solid rgb(130, 179, 211);
  border-radius: 4px;
  box-sizing: border-box;
}
.pagination-not-current:focus{
  background-color: rgb(104, 162, 202);
  border: 1px solid rgb(130, 179, 211);
  border-radius: 4px;
  box-sizing: border-box;
}
.pagination-not-current:focus-visible{
  background-color: rgb(104, 162, 202);
  border: 1px solid rgb(130, 179, 211);
  border-radius: 4px;
  box-sizing: border-box;
}
.pagination-not-current:active{
  background-color: rgb(130, 179, 211);
  color:rgba(255, 255, 255, 0.3);
}
.pagination-link {
  min-width: 60px;
  min-height: 60px;
  margin-left: 8px;
  background-color: rgb(130, 179, 211);
  border-radius: 4px;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.pagination-dotes {
  background-color: rgb(255, 255, 255);
  min-width: 60px;
  min-height: 60px;
  margin-left: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.pagination-current {
  background-color: rgb(242, 242, 242);
}
/* ------------CATALOG PAGINATION END ------------ */


.current-link {
  color: rgb(0, 0, 0);
}



.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.button {
  border-radius: 4px;
  cursor:pointer;
  font-family: inherit;
}
.button-blue{
  background-color: rgb(130, 179, 211);
}
.button-green{
  background-color: rgb(125, 181, 79);
}
.button-brown{
  background-color: rgb(117, 97, 87);
}
.button-brown:hover{
  background-color: rgb(97, 80, 72);
}
.button-brown:active{
  color: rgba(255, 255, 255, 0.3);;
}
.button-brown:focus-visible{
  background-color: rgb(97, 80, 72);
}
.button-brown:disabled{
  background-color: rgb(229, 229, 229)
}
.button-blue:hover{
  background-color: rgb(104, 162, 202)
}
.button-blue:active{
  color: rgba(255, 255, 255, 0.3);
}
.button-blue:focus-visible{
  background-color: rgb(104, 162, 202)
}
.button-blue:disabled{
  background-color: rgb(229, 229, 229)
}
.button-green:hover{
  background-color: rgb(108, 158, 66)
}
.button-green:active{
  color: rgba(255, 255, 255, 0.3);
}
.button-green:focus-visible{
  background-color: rgb(108, 158, 66)
}
.button-green:disabled{
  background-color: rgb(229, 229, 229)
}

/* ----------MODAL-WINDOW START---------- */
.modal-container-close{
  display: none;
}
.modal-container{
  position: fixed;
  top:0;
  left:0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  flex-wrap: wrap;
}

.modal-window{

  border-radius: 30px;
  background-color: rgb(255, 255, 255);
  padding: 67px 70px 64px 70px;
  box-sizing: border-box;
  margin: auto auto;
  position: relative;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
}
.modal-window h2{
  font-family: inherit;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
}
.close-button{
  position: absolute;
  width: 52px;
  min-height: 52px;
  border-radius: 50%;
  top: 65px;
  right: 52px;
  background-color: rgb(242, 242, 242);
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.close-button:active .close-icon{
  fill: rgba(117, 97, 87, 0.3)
}

.close-button:hover{
  cursor: pointer;
  background-color: rgb(230, 230, 230);
}

.close-button:focus-visible{
  border: 3px solid rgb(131, 179, 211);
  background-color: rgb(230, 230, 230);
  box-sizing: border-box;
}
.close-icon:active{
opacity: 0,5;
}
.modal-window-title{
  text-transform: uppercase;
  margin: 0;
  margin-bottom:69px;
}
.field{
  padding-top:12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 45px;
  font: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: rgb(0, 0, 0);
  outline: none;
  appearance: textfield;
}
.field:hover{
  background-color: rgb(230, 230, 230);
}
.arrival-input-wrapper:hover svg {
  opacity: 1;
  cursor: pointer;
}
.departure-input-wrapper:hover svg {
  opacity: 1;
  cursor: pointer;
}
.field:focus-visible{
  outline: 3px solid rgba(131, 179, 211, 1);
}
.field:active{
  outline: 2px solid rgba(0, 0, 0, 1);

}
.error-input-text{
  color: rgba(255, 87, 87, 1);
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  margin-left:20px;
}
.message-input-text{
  margin-left:20px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  color: rgba(51, 51, 51, 1);
}
.kids-quantity{
  padding: 14px 10px 14px 10px;
  width: 31px;
  min-height: 48px;
  box-sizing: border-box;
  border: none;

}
.adults-quantity-wrapper{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.kids-quantity-wrapper{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.adults-quantity{
  padding: 14px 10px 14px 10px;
  width: 31px;
  min-height: 48px;
  box-sizing: border-box;
  border: none;
}
.modal-window label{
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  align-self: center;
}
.modal-window input{
  background-color: rgb(242, 242, 242);
  border-radius: 4px;
  border: none;
}
.date-input-wrapper{
  display: flex;
  flex-direction: column;
}
.people-quantity-wrapper{
  display: flex;
  justify-content: space-between;
  width: 577px;
  margin-bottom: 48px;
  flex-wrap: wrap;
}
.arrival-input-wrapper{
  display:grid;
  grid-template-columns: 1fr 440px;
  grid-template-rows: 48px 21px;
  row-gap: 4px;
  position: relative;
}

.arrival-date-input{
  position: relative;
}

.plus-minus-container{
  display: flex;
  cursor: pointer;
  flex-wrap: wrap;
}
.date-input-wrapper{
  row-gap: 23px;
  margin-bottom: 23px;
}
.arrival-date-input-text{
  grid-area: 2/2/3/3;
}
.departure-input-wrapper{
  display:grid;
  grid-template-columns: 1fr 440px;
  grid-template-rows: 48px 21px;
  row-gap: 4px;
  position: relative;
}

.date-of-departure-input-text{
  grid-area: 2/2/3/3;
}
.modal-search-button{
    border: none;
    border-radius: 10px;
    width: 577px;
    min-height: 60px;
    font-size: 20px;
    font-weight: 700;
    font-family: inherit;
    color: rgb(255, 255, 255);
    line-height: 24px;
    text-transform: uppercase;
}
.adults-quantity{
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  outline: none;
  border: none;
  appearance: textfield;
}
.kids-quantity{
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  outline: none;
  border: none;
  appearance: textfield;
}
.adults-quantity::-webkit-outer-spin-button,
.adults-quantity::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}
.kids-quantity::-webkit-outer-spin-button,
.kids-quantity::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}
.plus-button{
  width: 40px;
  min-height: 48px;
  background-color: rgb(242, 242, 242);
  border:none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.plus-button:hover{
  cursor: pointer;
}
.plus-button:hover .plus-svg{
  fill:rgb(0, 0, 0);
  fill-opacity: 1;
}
.minus-button{
  width: 40px;
  min-height: 48px;
  background-color: rgb(242, 242, 242);
  border:none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.plus-wrapper{
  width: 20px;
  min-height: 20px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.minus-wrapper{
  width: 20px;
  min-height: 20px;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
}
.minus-button:focus .minus-wrapper{
  outline: 3px solid rgba(130, 179, 211, 1);
}
.plus-button:focus .plus-wrapper{
  outline: 3px solid rgba(130, 179, 211, 1);
}
.minus-button:hover .minus-svg{
  fill:rgb(0, 0, 0);
  fill-opacity: 1;
}

.minus-button:hover{
  cursor: pointer;
}
.kids-tooltip{
  position: relative;
  width: 26px;
  min-height: 26px;
  border-radius: 50%;
  background-image: url(../images/tooltip-icon.svg);
  background-color: rgb(131, 179, 211);
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 46px;
  outline: none;
  border:none;
  text-align: left;
}
.kids-tooltip:hover{
  cursor: pointer;
}

.tooltip-hover{
  box-sizing: border-box;
  display: none;
  position: absolute;
  min-width: 256px;
  min-height: 143px;
  background-color: rgb(51, 51, 51);
  color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 20px 20px 18px 22px;
  font-family: inherit;
  font-weight: 400;
  line-height: 20px;
  font-size: 16px;
  top:41px;
  left:50%;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  transform: translateX(-50%);
}
.tooltip-hover::before{
  content: "";
  background-color: rgb(51, 51, 51);
  width: 19px;
  height:19px;
  position: absolute;
  transform: translateX(-50%) rotate(45deg) ;
  top:-6px;
  left:50%;

}
.kids-tooltip:hover .tooltip-hover{
  display: block;
}

.kids-label{
  margin-right: 10px;
}
.adults-label{
  margin-right: 46px;
}
.date-picker-button{
  position: absolute;
  width: 20px;
  height: 20px;
  border: none;
  outline: none;
  top: 16px;
  right: 20px;
  padding: 0;
  margin: 0;
  background-color: inherit;
}
.arrival-input-wrapper svg{
  opacity: 0.5;

}
.departure-input-wrapper svg{
  opacity: 0.5;

}
