@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2);
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2);
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #f2f2f2;
  width: 1280px;
  margin: 0 auto;
  min-height: 100%;

}



.page-container {
  width: 1200px;
  background-color: #FFFFFF;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.2));
}

.header-navigation{
  display: flex;
  min-height: 64px;
}

.header-navigation-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  min-width: 339px;
}
.navigation-link{
  display: block;
  padding: 19px 16px 19px 16px;
}

.navigation-link.current{
  border-bottom: 2px solid #756257;
}
.header-user-list {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* outline: 1px solid blue; */
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  min-height: 64px;
}

.header-logo-link {
  display: flex;
  /* outline: 1px solid #756157; */
  margin-right: 44px;
  margin-bottom: -9px;
}

.page-header {
  min-height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  /* outline: 1px solid blue; */
}
.user-link{
  margin-left:20px;
  padding-left: 34px;
  padding-right: 34px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.link {
  color: inherit;
  text-decoration: none;
}

.user-link {
  color: #FFFFFF;
  background-color: #756157;
  text-transform: uppercase;
}
.user-search {
  min-width: 44px;
  min-height: 64px;
  display: block;
  background-image: url(/images/search.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
}

.user-favorite {
  min-width: 44px;
  min-height: 64px;
  display: block;
  background-image: url(/images/heart.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
}
.favorite-quantity{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #7DB54F;
  color: #FFFFFF;
  font-size: 10px;
  position: absolute;
  margin: 11px 4px 33px 20px;
}
.button{
  border-radius: 4px;
}
.hero {
  display: flex;
  flex-direction: column;
  background-color: #82B3D3;
  background-size: 100% cover;
  background-image: url(../images/divider.png), url(../images/hero-background.jpg);
  background-repeat: no-repeat;
  background-position: bottom, top;
  min-height: 485px;
  /* outline: 1px solid green; */
}

.hero-img-text {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
  padding-bottom: 90px;
}


.hero-heading {
  /* position: absolute; */
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  vertical-align: bottom;
  margin: 0 auto;
  /* outline: 1px solid violet; */
  width: 620px;
  min-height: 72px;
  padding: 69px 290px 25px 290px;
}

.advantages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* outline: 1px solid red; */
}

.advantages-text {
  color: #333333;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  height: 26px;
  margin: 0 auto;
  flex-wrap: wrap;
}
.advantages-item-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
/* outline: 1px solid green; */
padding: 92px 85px 111px 85px;

}
.advantages-item{
  min-height: 384px;

}
.advantages-item-text h3{
  margin: 0;
  width:175px;
  margin-bottom: 62px;
}
.advantages-item-text p{
  margin: 0;
}
.advantages-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  /* outline: 1px solid brown; */
  padding-inline-start: 0;
  margin-block-end: 0;
}

.img-item {
  display: flex;
  width: 1200px;

}

.no-img-item {
  width: 400px;

}

.advantages-list h3 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.advantages-list p {
  font-size: 18px;
  line-height: 21px;
}

.advantages-item {
  color: #FFFFFF;
  background-color: #82B3D3;
}

.advantages-list li:nth-child(2n) {
  color: #000000;
  background-color: rgba(131, 179, 211, 0.12);

}

.advantages-list li:nth-child(3) {
  color: #000000;
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages2-list {
  list-style-type: none;
  text-align: center;
  display: flex;
  margin-top: 0;
  padding-inline-start: 0;
  /* outline: 1px solid black; */
}

.advantages2-list h3 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  padding-top: 182px;
}

.advantages2-list p {
  font-size: 18px;
  line-height: 21px;
  padding-bottom: 81px;
  width: 230px;
  padding-left: 85px;
  padding-right: 85px;
}

.advantages2-item-houses {
  color: #000000;
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
  height: 384px;
  background-image: url(/images/advantages-houses-logo.svg);
  background-repeat: no-repeat;
  background-position: bottom 232px right 162px;
}

.advantages2-item-souvenirs {
  color: #000000;
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
  height: 384px;
  background-image: url(/images/advantages-souvenir-logo.svg);
  background-repeat: no-repeat;
  background-position: bottom 232px right 162px;
}

.advantages2-item-eat {
  color: #000000;
  background-color: #FFFFFF;
  width: 400px;
  height: 384px;
  background-image: url(/images/food.svg);
  background-repeat: no-repeat;
  background-position: bottom 232px right 162px;
}

.search {
  text-align: center;
  height: 406px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.search p {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  width: 592px;
  height: 52px;
  margin: 0%;
  /* outline: 1px solid pink; */
}

.search-button {
  text-transform: uppercase;
  color: #FFFFFF;

  font-weight: 700;
  font-size: 20px;
  line-height: 36px;

  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 50px;
  padding-right: 50px;
}

.search-link-container {
  width: 376px;
  height: 52px;
  background-color: #756157;
  /* outline: 1px solid blue; */
  margin-top: 54px;
  margin-bottom: 96px;
  margin-left: 412px;
  margin-right: 412px;
  border-radius: 4px;
}
.search-link-container a{
  display: block;
  text-decoration: none;
}
.subscribe {
  background-color: #82B3D3;
  background-image: url(../images/subscribe-background.jpg);
  background-repeat: no-repeat;
  width: 1200px;
  height: 415px;
  color: #FFFFFF;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-size: cover;
}
.subscribe h2{
  margin: 0;
  padding: 96px 398px 20px 398px;
}
.subscribe p{
  text-align: center;
  margin: 0;
  padding: 0 304px 52px 304px;
  width: 475px;
}
.subscribe-catalog {
  background-color: white;
  background-repeat: no-repeat;
  width: 1200px;
  height: 415px;
  color: #000000;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-size: cover;
}

.subscribe-catalog h2 {
  color: #333333;
}

.subscribe h2 {
  text-transform: uppercase;
}

.subscribe p {
  width: 475px;
  height: 53px;
}
.subscribe-catalog p {
  width: 475px;
  height: 53px;
  text-align: center;
}
.subscribe-button {
  font-family: inherit;
  background-color: #82B3D3;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  width: 232px;
  height: 52px;
  border: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.form-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.subscribe-input {
  background-color: #F2F2F2;
  width: 452px;
  height: 52px;
  font-family: inherit;
  padding: 0;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.subscribe-form label {
  position: absolute;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  opacity: 60%;
  padding: 14px 345px 14px 20px;
}
.socialnetwork-links{
  display: flex;
  list-style-type: none;
}
.socialnetwork-item a {
  color: #000000;
  font-family: inherit;
  display: block;
  width: 40px;
  height: 47px;
}
.socialnetwork-item:first-child{
  background-image: url(/images/vk-logo.png);
  background-repeat: no-repeat;
  background-position: center;
}
.socialnetwork-item:nth-child(2){
  background-image: url(/images/telegram-logo.png);
  background-repeat: no-repeat;
  background-position: center;
}
.socialnetwork-item:last-child{
  background-image: url(/images/youtube-logo.png);
  background-repeat: no-repeat;
  background-position: center;
}
.footer-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 40px 70px 30px 70px;
  outline: 1px solid orange;
  min-width: 1060px;
  min-height: 50px;

}
.phone {
  display: block;
  color: #000000;
  width: 331px;
  height: 40px;
  font-family: inherit;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  text-decoration: none;
  margin-right: 42px;
}

.catalog-form {
  flex-wrap: wrap;
  font-family: inherit;
  background-color: #82B3D3;
  background-image: url(../images/catalog-background.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: #FFFFFF;
  min-width: 1200px;
  min-height: 412px;
  background-position: center;

}

.filter-heading {
  display: flex;
  flex-direction: column;

}
.filter-heading h1{
  margin: 0;
  padding: 35px 635px 8px 70px;
}
.breadcrumbs{
  display: flex;
  min-width: 120px;
  min-height: 21px;
  margin-left: 70px;
  margin-bottom: 40px;
}
.breadcrumbs-list {
  display: flex;
  list-style-type: none;
  align-items: center;
  margin:0;

  padding: 0;
}
.breadcrumbs-home-link{
  display: block;
  min-width: 13px;
  min-height:15px;
  background-image: url(/images/home.png);
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 12px;
}
.arrow-wrapper{
  background-image: url(/images/breadcrumbs-arrow.png);
  background-repeat: no-repeat;
  background-position: center;
  min-width: 5px;
  height: 21px;
  margin-right: 12px;
}
.breadcrumbs-catalog-link{
  text-decoration: none;
}
.form-heading {
  font-family: inherit;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs span {
  color: #FFFFFF;
}

.housing-type-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.options-group{
  border: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  min-height: 157px;

}
.housing-type-group{
  border: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  min-height: 157px;
}
.option-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  min-width: 110px;
  min-height: 110px;
  padding-top: 32px;
}
.housing-type-list{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  min-width: 110px;
  min-height: 110px;
  padding-top: 32px;
}
.options-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.form-button-submit {
  background-color: #82B3D3;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  border:none;

}

.form-button-reset {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  border: none;
  background-color: transparent;
}

.hotel-details-button {
  background-color: #756157;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}

.search-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
}

.search-result-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.search-result-item {
  width: 340px;
  height: 438px;
  border: 1px solid #E6E6E6;
  margin: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

}

.put-in-favorite {
  background-color: #82B3D3;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;

}

.in-favorite {
  background-color: #7DB54F;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;

}

.raiting {
  font-weight: 400;
  color: #333333;
  background-color: #F2F2F2;
}

.pagination-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

.pagination-item {
  width: 60px;
  height: 60px;
  margin-left: 8px;
  /* outline: 1px solid yellowgreen; */
  background-color: #82B3D3;
  border-radius: 4px;
}

.pagination-list a {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
}

.pagination-link {
  color: #FFFFFF;
  padding: 0;

}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
