@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2);
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2);
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #f2f2f2;
  width: 1280px;
  margin: 0 auto;
  min-height: 100%;

}



.page-container {
  width: 1200px;
  background-color: #FFFFFF;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.2));
}

.header-navigation {
  display: flex;
  min-height: 64px;
}

.header-navigation-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  min-width: 339px;
  justify-content: center;
  /* align-items: center; */
}

.navigation-link {
  display: block;
  margin-right: 19px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.navigation-link.current {
  border-bottom: 2px solid #756257;
}

.header-user-list {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  min-height: 64px;
}

.header-logo-link {
  display: flex;

  margin-right: 44px;
  margin-bottom: -9px;
}

.page-header {
  min-height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

}

.user-link {
  margin-left: 20px;
  padding-left: 34px;
  padding-right: 34px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.link {
  color: inherit;
  text-decoration: none;
}

.user-link {
  color: #FFFFFF;
  background-color: #756157;
  text-transform: uppercase;
}

.user-search {
  min-width: 44px;
  min-height: 64px;
  display: block;
  background-image: url(../images/search.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
}

.user-favorite {
  min-width: 44px;
  min-height: 64px;
  display: block;
  background-image: url(../images/heart.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
}

.favorite-quantity {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #7DB54F;
  color: #FFFFFF;
  font-size: 10px;
  position: absolute;
  margin: 11px 4px 33px 20px;
}

.button {
  border-radius: 4px;
}
.wrapper{
  background-color: #9cc4df;
  background-size: 100%, cover;
  background-image: url(../images/divider.png), url(../images/hero-background.jpg);
  background-repeat: no-repeat;
  background-position: bottom, top;
  min-height: 485px;
  margin-bottom: 69px;
}
.hero {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;

}

.hero-img-text {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
  padding-bottom: 90px;
}


.hero-heading {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  vertical-align: center;
  margin: 0 auto;
  width: 620px;
  min-height: 72px;
}

.advantages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.advantages-text {
  color: #333333;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  height: 26px;
  margin: 0 ;
  flex-wrap: wrap;
  margin-bottom: 90px;
}

.advantages-item-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 92px 85px 111px 85px;

}

.advantages-item {
  min-height: 384px;

}

.advantages-item-text h3 {
  margin: 0;
  width: 175px;
  margin-bottom: 62px;
}

.advantages-item-text p {
  margin: 0;
}

.advantages-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding-inline-start: 0;
  margin-block-end: 0;
}

.img-item {
  display: flex;
  width: 1200px;

}

.no-img-item {
  width: 400px;

}

.advantages-list h3 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.advantages-list p {
  font-size: 18px;
  line-height: 21px;
}

.advantages-item {
  color: #FFFFFF;
  background-color: #82B3D3;
}

.advantages-list li:nth-child(2n) {
  color: #000000;
  background-color: rgba(131, 179, 211, 0.12);

}

.advantages-list li:nth-child(3) {
  color: #000000;
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages2-list {
  list-style-type: none;
  text-align: center;
  display: flex;
  margin-top: 0;
  padding-inline-start: 0;
}

.advantages2-list h3 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  padding-top: 182px;
}

.advantages2-list p {
  font-size: 18px;
  line-height: 21px;
  padding-bottom: 81px;
  width: 230px;
  padding-left: 85px;
  padding-right: 85px;
}

.advantages2-item-houses {
  color: #000000;
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
  height: 384px;
  background-image: url(../images/advantages-houses-logo.svg);
  background-repeat: no-repeat;
  background-position: bottom 232px right 162px;
}

.advantages2-item-souvenirs {
  color: #000000;
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
  height: 384px;
  background-image: url(../images/advantages-souvenir-logo.svg);
  background-repeat: no-repeat;
  background-position: bottom 232px right 162px;
}

.advantages2-item-eat {
  color: #000000;
  background-color: #FFFFFF;
  width: 400px;
  height: 384px;
  background-image: url(../images/food.svg);
  background-repeat: no-repeat;
  background-position: bottom 232px right 162px;
}

.search {
  text-align: center;
  height: 406px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.search p {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  width: 592px;
  height: 52px;
  margin: 0%;
}

.search-button {
  text-transform: uppercase;
  color: #FFFFFF;

  font-weight: 700;
  font-size: 20px;
  line-height: 36px;

  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 50px;
  padding-right: 50px;
}

.search-link-container {
  width: 376px;
  height: 52px;
  background-color: #756157;
  margin-top: 54px;
  margin-bottom: 96px;
  margin-left: 412px;
  margin-right: 412px;
  border-radius: 4px;
}

.search-link-container a {
  display: block;
  text-decoration: none;
}

.subscribe {
  background-color: #82B3D3;
  background-image: url(../images/subscribe-background.jpg);
  background-repeat: no-repeat;
  width: 1200px;
  height: 415px;
  color: #FFFFFF;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-size: cover;
}

.subscribe h2 {
  margin: 0;
  padding: 96px 398px 20px 398px;
}

.subscribe p {
  text-align: center;
  margin: 0;
  padding: 0 304px 52px 304px;
  width: 475px;
}

.subscribe-catalog {
  background-color: white;
  background-repeat: no-repeat;
  width: 1200px;
  height: 415px;
  color: #000000;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-size: cover;
}

.subscribe-catalog h2 {
  color: #333333;
}

.subscribe h2 {
  text-transform: uppercase;
}

.subscribe p {
  width: 475px;
  height: 53px;
}
.subscribe-catalog h2{
  margin: 0;
  margin-bottom: 20px;
}
.subscribe-catalog p {
  width: 475px;
  height: 53px;
  text-align: center;
  margin: 0;
  margin-bottom: 54px;

}

.subscribe-button {
  font-family: inherit;
  background-color: #82B3D3;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  width: 232px;
  height: 52px;
  border: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.form-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.subscribe-input {
  background-color: #F2F2F2;
  width: 452px;
  height: 52px;
  font-family: inherit;
  padding: 0;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.subscribe-form label {
  position: absolute;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  opacity: 60%;
  padding: 14px 345px 14px 20px;
}

.socialnetwork-links {
  display: flex;
  list-style-type: none;
}

.socialnetwork-item a {
  color: #000000;
  font-family: inherit;
  display: block;
  width: 40px;
  height: 47px;
}

.socialnetwork-item:first-child {
  background-image: url(../images/vk-logo.png);
  background-repeat: no-repeat;
  background-position: center;
}

.socialnetwork-item:nth-child(2) {
  background-image: url(../images/telegram-logo.png);
  background-repeat: no-repeat;
  background-position: center;
}

.socialnetwork-item:last-child {
  background-image: url(../images/youtube-logo.png);
  background-repeat: no-repeat;
  background-position: center;
}

.footer-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 40px 70px 30px 70px;
  min-width: 1060px;
  min-height: 50px;

}

.phone {
  display: block;
  color: #000000;
  width: 331px;
  height: 40px;
  font-family: inherit;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  text-decoration: none;
  margin-right: 42px;
}

.catalog-form {
  flex-wrap: wrap;
  font-family: inherit;
  background-color: #82B3D3;
  background-image: url(../images/catalog-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFFFFF;
  min-width: 1200px;
  min-height: 412px;
  background-position: center;
  margin-bottom: 50px;

}

.filter-heading {
  display: flex;
  flex-direction: column;

}

.filter-heading h1 {
  margin: 0;
  padding: 35px 635px 8px 70px;
}

.breadcrumbs {
  display: flex;
  min-width: 120px;
  min-height: 21px;
  margin-left: 70px;
  margin-bottom: 40px;
}

.breadcrumbs-list {
  display: flex;
  list-style-type: none;
  align-items: center;
  margin: 0;

  padding: 0;
}

.breadcrumbs-home-link {
  display: block;
  min-width: 13px;
  min-height: 15px;
  background-image: url(../images/home.png);
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 12px;
}

.arrow-wrapper {
  background-image: url(../images/breadcrumbs-arrow.png);
  background-repeat: no-repeat;
  background-position: center;
  min-width: 5px;
  height: 21px;
  margin-right: 12px;
}

.breadcrumbs-catalog-link {
  text-decoration: none;
}

.form-heading {
  font-family: inherit;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs span {
  color: #FFFFFF;
}

.housing-type-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.options-group {
  border: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  min-height: 157px;

}

.housing-type-group {
  border: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  min-height: 157px;
}

.option-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  min-width: 110px;
  min-height: 110px;
  padding-top: 32px;
}

.housing-type-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  min-width: 110px;
  min-height: 110px;
  padding-top: 32px;
}

.options-form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 20px;
}

.hotel-price {
  border: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  min-height: 160px;
}

.form-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 191px;
}

.form-button-submit {
  background-color: #82B3D3;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  border: none;
  height: 36px;
}

.form-button-reset {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  border: none;
  background-color: transparent;
  height: 36px;
}

.hotel-details-button {
  background-color: #756157;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}

.search-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.search-header h2 {
  margin: 0;
}
.search-result{
  padding: 70px;
}
.search-result-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 20px;
  padding-bottom: 40px;
  border-bottom: 1px solid #E6E6E6;
  margin-bottom: 40px;
}

.search-result-item {
  min-width: 300px;
  min-height: 438px;
  border: 1px solid #E6E6E6;
  padding: 17px;

}

.view-buttons {
  list-style-type: none;
  display: flex;
}

.view-type.current {
  border: 2px solid black;
  border-radius: 4px;
}

.view-type {
  width: 48px;
  height: 48px;
  margin-right: 4px;
  border: none;
}

.small-window {
  background-image: url(../images/small-window.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.large-window {
  background-image: url(../images/large-window.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.list-window {
  background-image: url(../images/list-window.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.products-info-wrapper {
  display: grid;
  grid-template-columns: 140px 140px;
  gap: 20px;
}

.products-info-wrapper h3 {
  padding-top: 16px;
  grid-column: 1/3;
}

.hotel-name {
  margin: 0;
}

.hotel-details-button {
  display: flex;
  width: 140px;
  min-height: 36px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.put-in-favorite {
  display: flex;
  background-color: #82B3D3;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  width: 140px;
  min-height: 36px;
  border: none;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}

.in-favorite {
  display: flex;
  border: none;
  background-color: #7DB54F;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  width: 140px;
  min-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}

.four-stars {
  background-image: url(../images/star\ 1.png);
  background-position: auto;
  background-repeat: repeat-x;
  background-size: 20px auto;
  width: 80px;
}

.three-stars {
  background-image: url(../images/star\ 1.png);
  background-position: auto;
  background-repeat: repeat-x;
  background-size: 20px auto;
  width: 60px;
}

.two-stars {
  background-image: url(../images/star\ 1.png);
  background-position: auto;
  background-repeat: repeat-x;
  background-size: 20px auto;
  width: 40px;

}

.raiting {
  margin: 0;
  padding: 0;
  font-weight: 400;
  color: #333333;
  background-color: #F2F2F2;
}

.pagination-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

.pagination-item {
  width: 60px;
  height: 60px;
  margin-left: 8px;
  background-color: #82B3D3;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-list a {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-decoration: none;
}

.pagination-link {
  color: #FFFFFF;
  padding: 10px;
}

.pagination-dotes {
  background-color: #FFFFFF;
}

.pagination-current {
  background-color: #F2F2F2;
}

.current-link {
  color: #000000;
}

.contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
